:root {
	--main-color: hsl(185, 75%, 39%); /* Dark cyan */
	--second-color: hsl(229, 23%, 23%); /* Very dark desaturated blue */
	--therd-color: hsl(227, 10%, 46%); /* Dark grayish blue */
	--four-color: hsl(0, 0%, 59%); /* Dark gray */
}

* {
	font-size: 18px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 13px;
	font-weight: 400;
	color: var(--therd-color);
	text-transform: capitalize;
}

h1 {
	font-size: 18px;
	color: var(--second-color);
	text-transform: capitalize;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
}

.back-g {
	background-color: var(--main-color);
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.top {
	position: absolute;
    top: -100%;
    left: -25%;
}

.bottom {
	position: absolute;
    bottom: -110%;
    right: -20%;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	border-radius: 10px;
    box-shadow: 1px 1px 30px 2px var(--therd-color);
}

.card-ptrn {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.man {
	border-radius: 50%;
	border: 5px solid white;
	margin-top: -55px;
}

.back-g .card h1 {
	margin-top: 25px;
	margin-bottom: 10px;
}

.back-g .card h1 span {
	font-weight: 400;
	color: var(--therd-color);
	opacity: .8;
}

.back-g .card h2 {
	margin-bottom: 25px;
	opacity: .8;
}

.contanier {
	align-self: stretch;
	display: flex;
	position: relative;
	justify-content: space-evenly;
}

hr {
	background: var(--four-color);
	height: 1px;
	width: 100%;
	opacity: .2;
}

.child {
	text-align: center;
	letter-spacing: 1.5px;
}

.child h2 {
	font-size: 10px;
	opacity: .8;
}
